.calenderDay_long-press {
    border: 2px solid gray;
    border-radius: 50%;
}

.calenderDay_long-press :hover {
    border: 2px solid gray;
}

.long-press-border {
    border: 2px solid red;
    /* 長押しされた時のボーダー色 */
}

.selected-day {
    background-color: rgb(133, 133, 133);
    /* 選択された日付の背景色 */
    color: white;
}

.quote_area {
    padding-top: -18px;
}

.quote_fetcher {
    background-color: #efefef;
    /* padding: 2px; */

    margin: 20px 0px;
    border-radius: 5px;
}

.quote_fetcher_typo {
    padding: 2px;
}

.quote_fetcher p {
    padding: 2px;
    margin: 0;
}



.refresh_icon_button_area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}